.idea/
.vscode/
node_modules/
build
.DS_Store
.docz
dist
packages/*/package-lock.json
packages/*/coverage
packages/*/build
packages/*/modules
packages/*/yarn.lock
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
yarn.lock
/.changelog
.npm/
